<!DOCTYPE html>
<html lang="en">
<head>
  <!--characters coding-->
  <meta charset="UTF-8">
  <!--Title and description-->
  <title>Frontend Mentor | Fylo landing page with dark theme and feature grid</title>
  <meta name="description" content="Esto lo pondré a lo último">
  <!--Edge and viewport-->
  <meta name="viewport" content="with=device-witdth; initial-scale:1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <!--favicons-->
  <link rel="apple-touch-icon" sizes="60x60" href="../../assets/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../assets/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../assets/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../assets/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../assets/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../assets/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../assets/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="57x57" href="../../assets/favicons/apple-icon-57x57.png">
  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!--css-->
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header class="header">
    <nav class="header__nav">
      <img class="logo header__logo" src="../../assets/images/logo.svg" alt="">
      <ul class="header__links">
        <li class="header__link"><a href="#">Features</a></li>
        <li class="header__link"><a href="#">Team</a></li>
        <li class="header__link"><a href="#">Sign In</a></li>
      </ul>
    </nav>
    <img class="header__img header__img--display--block" src="../../assets/images/illustration-intro.png" alt="">
    <div class="header__content">
      <h1 class="header__title">  All your files in one secure location, accessible anywhere.</h1>
      <p class="header__paragraph">
        Fylo stores all your most important files in one secure location. Access them wherever 
        you need, share and collaborate with friends family, and co-workers.
      </p>
      <a class="header__button" href="#">Get Started</a>
    </div>
  </header>
  <main class="body">
    <!--section cards-->
    <section class="cards">
      <article class="cards__card">
        <div class="cards__icon">icon</div>
        <h2 class="cards__title">Access your files, anywhere</h2>
        <p class="cards__paragraph">
          The ability to use a smartphone, tablet, or computer to access your account means your 
          files follow you everywhere.
        </p>
      </article>
      <article class="cards__card">
        <div class="cards__icon">icon</div>
        <h2 class="cards__title">Security you can trust</h2>
        <p class="cards__paragraph">
          2-factor authentication and user-controlled encryption are just a couple of the security 
          features we allow to help secure your files.
        </p>
      </article>
      <article class="cards__card">
        <div class="cards__icon">icon</div>
        <h2 class="cards__title">Real-time collaboration</h2>
        <p class="cards__paragraph">
          Securely share files and folders with friends, family and colleagues for live collaboration. 
          No email attachments required.
        </p>
      </article> 
      <article class="cards__card">
        <div class="cards__icon">icon</div>
        <h2 class="cards__title">Store any type of file</h2>
        <p class="cards__paragraph">
          Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all 
          file types to be securely stored and shared.
        </p>
      </article>
    </section>
    <!--section fullwidth-->
    <section class="fullwidth">
      <div class="fullwidth__img">
        <img src="../../assets/images/illustration-stay-productive.png" alt="">
      </div>
      <div class="fullwidth__content">
        <h2 class="fullwidth__title">Stay productive, wherever you are</h2>
        <p class="fullwidth__paragraph">
          Never let location be an issue when accessing your files. Fylo has you covered for all of your file 
          storage needs.
        </p>
        <p class="fullwidth__paragraph">
          Securely share files and folders with friends, family and colleagues for live collaboration. No email 
          attachments required.
        </p>
        <a class="fullwidth__link" href="#">See how Fylo works</a>
      </div>
    </section>
    <!--section comments-->
    <section class="comments">
      <article class="comments__card">
        <p class="comments__paragraph">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.
        </p>
        <footer class="comments__footer">
          <p class="comments__user">
            <span>Satish Patel</span>
            <span>Founder & CEO, Huddle</span>
          </p>
        </footer>
      </article>
      <article class="comments__card">
        <p class="comments__paragraph">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.
        </p>
        <footer class="comments__footer">
          <p class="comments__user">
            <span>Bruce McKenzie</span>
            <span>Founder & CEO, Huddle</span>
          </p>
        </footer>
      </article>
      <article class="comments__card">
        <p class="comments__paragraph">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.
        </p>
        <footer class="comments__footer">
          <p class="comments__user">
            <span>Iva Boyd</span>
            <span>Founder & CEO, Huddle</span>
          </p>
        </footer>
        <!--section sign up-->
        <section class="sign-up">
          <h2 class="sign-up__title">Get early access today</h2>
          <p class="sign-up__paragraph">
            It only takes a minute to sign up and our free starter tier is extremely generous. If you have any 
            questions, our support team would be happy to help you. 
          </p>
          <form class="sign-up__form" action="#">
            <input class="sign-up__input" type="email">
            <input class="sign-up__button" type="submit" value="Get Started For Free">
          </form>
        </section>
      </article>  
    </section>
  </main>

  <nav class="header__nav">
    <img class="logo header__logo" src="../../assets/images/logo.svg" alt="">
    <ul class="header__links">
      <li class="header__link"><a href="#">Features</a></li>
      <li class="header__link"><a href="#">Team</a></li>
      <li class="header__link"><a href="#">Sign In</a></li>
    </ul>
  </nav>

  <footer class="footer">
    <img class="logo footer__logo" src="../../assets/images/logo.svg" alt="">
    <ul class="contacts footer__contacts">
      <li class="contacs__item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua
      </li>
      <li class="contacs__item">+1-543-123-4567</li>
      <li  class="contacs__item">example@fylo.com</li>
    </ul>
    <nav class="footer__nav">
      <ul class="footer__links">
        <li class="footer__link">About Us</li>
        <li class="footer__link">Jobs</li>
        <li class="footer__link">Press</li>
        <li class="footer__link">Blog</li>
        <li class="footer__link">Contact Us</li>
        <li class="footer__link">Terms</li>
        <li class="footer__link">Privacy</li>
      </ul>
    </nav>
    <ul class="footer__icons">
      <li class="social-media footer__social-media">icon</li>
      <li class="social-media footer__social-media">icon</li>
      <li class="social-media footer__social-media">icon</li>
    </ul>
  </footer>
</body>