<!DOCTYPE html>
<html lang="en">
<head>
  <!--characters coding-->
  <meta charset="UTF-8">
  <!--Title and description-->
  <title>Frontend Mentor | Fylo landing page with dark theme and feature grid</title>
  <meta name="description" content="Esto lo pondré a lo último">
  <!--Edge and viewport-->
  <meta name="viewport" content="with=device-witdth; initial-scale:1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <!--favicons-->
  <link rel="apple-touch-icon" sizes="60x60" href="../../assets/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../assets/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../assets/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../assets/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../assets/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../assets/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../assets/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="57x57" href="../../assets/favicons/apple-icon-57x57.png">
  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!--icons-->
  <script src="https://kit.fontawesome.com/6911c92bee.js" crossorigin="anonymous"></script>
  <!--css-->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>


<body>
  <!----------------Header------------------->
  <header class="header">
    <nav class="nav header__nav">
      <img class="logo header__logo" src="../../assets/images/logo.svg" alt="">
      <ul class="nav__links header__links">
        <li class="nav__link header__link"><a href="#">Features</a></li>
        <li class="nav__link header__link"><a href="#">Team</a></li>
        <li class="nav__link header__link"><a href="#">Sign In</a></li>
      </ul>
    </nav>
    <img class="img" src="../../assets/images/illustration-intro.png" alt="">
    <h1 class="main__title">  All your files in one secure location, accessible anywhere.</h1>
    <p class="main__paragraph">
      Fylo stores all your most important files in one secure location. Access them wherever 
      you need, share and collaborate with friends family, and co-workers.
    </p>
    <a class="button header__button" href="#">Get Started</a>
  </header>

  <!----------------Main----------------------->
  <main class="main">
    <!----section cards----->
    <section class="cards">
      <article class="cards__item">
        <header class="cards__header">
          <img class="icon cards__icon" src="../../assets/images/icon-access-anywhere.svg" alt="">
        </header>
        <h2 class="titles cards__title">Access your files, anywhere</h2>
        <p class="paragraphs cards__paragraph">
          The ability to use a smartphone, tablet, or computer to access your account means your 
          files follow you everywhere.
        </p>
      </article>
      <article class="cards__item">
        <header class="cards__header">
          <img class="icon cards__icon" src="../../assets/images/icon-security.svg" alt="">
        </header>
        <h2 class="titles cards__title">Security you can trust</h2>
        <p class="paragraphs cards__paragraph">
          2-factor authentication and user-controlled encryption are just a couple of the security 
          features we allow to help secure your files.
        </p>
      </article>
      <article class="cards__item">
        <header class="cards__header">
          <img  class="icon cards__icon" src="../../assets/images/icon-collaboration.svg" alt="">
        </header>
        <h2 class="titles cards__title">Real-time collaboration</h2>
        <p class="paragraphs cards__paragraph">
          Securely share files and folders with friends, family and colleagues for live collaboration. 
          No email attachments required.
        </p>
      </article> 
      <article class="cards__item">
        <header class="cards__header">
          <img  class="icon cards__icon" src="../../assets/images/icon-any-file.svg" alt="">
        </header>
        <h2 class="titles cards__title">Store any type of file</h2>
        <p class="paragraphs cards__paragraph">
          Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all 
          file types to be securely stored and shared.
        </p>
      </article>
    </section>
    <!----section fullwidth----->
    <section class="fullwidth">
      <header class="fullwidth__header">
        <img class= "img" src="../../assets/images/illustration-stay-productive.png" alt="">
      </header>
      <h2 class="titles fullwidth__title">Stay productive, wherever you are</h2>
      <p class="paragraphs fullwidth__paragraph">
        Never let location be an issue when accessing your files. Fylo has you covered for all of your file 
        storage needs.
      </p>
      <p class="paragraphs fullwidth__paragraph">
        Securely share files and folders with friends, family and colleagues for live collaboration. No email 
        attachments required.
      </p>
      <div class="fullwidth__link-container">
        <a class="fullwidth__link" href="#">See how Fylo works</a>
        <img class="fullwidth___icon" src="../../assets/images/icon-arrow.svg" alt="">
      </div>
    </section>
    <!----section comments----->
    <section class="testimonials">
      <img class="testimonials__icon" src="../../assets/images/bg-quotes.png" alt="">
      <article class="testimonials__card">
        <p class="paragraphs paragraphs--extra-small testimonials__paragraph">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.
        </p>
        <footer class="testimonials__user">
          <img class="testimonials__profile" src="../../assets/images/profile-1.jpg" alt="">
          <p class="testimonials__dates">
            <span class="testimonials__name">Satish Patel</span>
            <span class="testimonials__place">Founder & CEO, Huddle</span>
          </p>
        </footer>
      </article>
      <article class="testimonials__card">
        <p class="paragraphs paragraphs--extra-small testimonials__paragraph">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.
        </p>
        <footer class="testimonials__user">
          <img class="testimonials__profile" src="../../assets/images/profile-2.jpg" alt="">
          <p class="testimonials__dates">
            <span class="testimonials__name">Bruce McKenzie</span>
            <span class="testimonials__place">Founder & CEO, Huddle</span>
          </p>
        </footer>
      </article>
      <article class="testimonials__card">
        <p class="paragraphs paragraphs--extra-small testimonials__paragraph">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.
        </p>
        <footer class="testimonials__user">
          <img class="testimonials__profile" src="../../assets/images/profile-3.jpg" alt="">
          <p class="testimonials__dates">
            <span class="testimonials__name">Iva Boyd</span>
            <span class="testimonials__place">Founder & CEO, Huddle</span>
          </p>
        </footer>
      </article> 
    </section>
    <!----section sign up----->
    <section class="sign-up">
      <h2 class="titles testimonials__title">Get early access today</h2>
        <p class="paragraphs paragraphs--small testimonials__paragraph">
          It only takes a minute to sign up and our free starter tier is extremely generous. If you have any 
          questions, our support team would be happy to help you. 
        </p>
      <form class="sign-up__form" action="#">
          <input class="sign-up__input" type="email">
          <input class="button sign-up__button" type="submit" value="Get Started For Free">
      </form>
    </section> 
  </main>

  <!----------------Footer----------------------->
  <footer class="footer">
    <!---------Contact nav----------->
    <img class="logo" src="../../assets/images/logo.svg" alt="">
    <ul class="location">
      <li class="location__item">
        <img class="location__icon" src="../../assets/images/icon-location.svg" alt="">
        <p  class="paragraphs location__paragraph" >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
          dolore magna aliqua
        </p>
      </li>
      <li class="location_item">
        <img  class="location__icon" src="../../assets/images/icon-phone.svg" alt="">
        <p class="paragraphs location__paragraph">
          +1-543-123-4567
        </p>
      </li>
      <li  class="location_item">
        <img  class="location__icon" src="../../assets/images/icon-email.svg" alt="">
        <p class="paragraphs location__paragraph">
          example@fylo.com
        </p>
      </li>
    </ul>
    <!---------Links nav----------->
    <nav class="nav footer__nav">
      <ul class="nav__links footer__links">
        <li class="nav__link footer__link">About Us</li>
        <li class="nav__link footer__link">Jobs</li>
        <li class="nav__link footer__link">Press</li>
        <li class="nav__link footer__link">Blog</li>
        <li class="nav__link footer__link">Contact Us</li>
        <li class="nav__link footer__link">Terms</li>
        <li class="nav__link footer__link">Privacy</li>
      </ul>
    </nav>
    <!---------Links social media----------->
    <ul class="social-media">
      <li class="social-media__item">
        <div class="social-media__item-container">
          <i class="social-media__item-icon fab fa-facebook-f"></i>
        </div>
      </li>
      <li class="social-media__item">
        <div  class="social-media__item-container">
          <i class="social-media__item-icon fab fa-twitter"></i>
        </div>
      </li>
      <li class="social-media__item">
        <div  class="social-media__item-container">
          <i class="social-media__item-icon fab fa-instagram"></i>
        </div>
      </li>
    </ul>
  </footer>
</body>