.cards {
    height: 100vh;
}

.cards__header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cards__header img {
    width: 2.5em;
    height: auto;
}

.cards__title {
    font-family: $main-family-font;
    font-size: map-get($map: $font-size-sm, $key: "cards-title-font-size");
    font-weight: $main-bold-font;
    text-align: center;
}

.cards__paragraph {
    font-family: $body-family-font;
    font-size: map-get($map: $font-size-sm, $key: "cards-paragraph-font-size");
    font-weight: $body-regular-font;
    line-height: 1.7;
    text-align: center;
}
