.cards {
    height: 100vh;
}

.cards__header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cards__header img {
    width: 2.5em;
    height: auto;
}

.cards__title {
    text-align: center;
}


.cards__paragraph {
    line-height: 1.7;
    text-align: center;
}

