.fullwidth {
    height: 100vh;
}

.fullwidth__title {
    text-align: left;
}

.fullwidth__paragraph {
    line-height: 1.7;
    text-align: left;
}

.fullwidth__link {
    font-family: $body-family-font;
    font-weight: $body-regular-font;
    text-align: left;
}