//Headings, call to action, header Navigation
//https://fonts.google.com/specimen/Raleway);
$main-family-font: 'Raleway', sans-serif;
$main-regular-font: 400;
$main-bold-font: 700; 

//body
//https://fonts.google.com/specimen/Open+Sans
$body-family-font: 'Open Sans', sans-serif;
$body-regular-font: 400;
$body-bold-font: 700;


//font-size
$body-font-size: 14px;





